{% extends "lis_crop_observer/base.html" %}
{% load tethys_gizmos %}
{% load tethys_gizmos staticfiles %}

{% block header_buttons %}
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block global_scripts %}
{{block.super}}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://highcharts.github.io/export-csv/export-csv.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://openlayers.org/en/v4.1.1/build/ol.js"></script>
{% endblock %}

{% block app_navigation_items %}
<br>
<br>
<b>Map Interaction</b>
<select id="types" class="btn btn-xs btn-success" data-width="fit">
    <option value="None">None</option>
    <option value="Point">Point</option>
    <option value="Polygon">Polygon</option>
</select>
<br>
<br>
<form id="get-ts" name="get-ts" action="get_ts/" method="POST">
    {% csrf_token %}
    {% gizmo crop_select %}
    {% gizmo district_select %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalUpload">Upload Shapefile</button>
    <br>
    <br>
    <input type="text" name="point-lat-lon" id="point-lat-lon" hidden>
    <input type="text" name="poly-lat-lon" id="poly-lat-lon" hidden>
    <input type="text" name="shp-lat-lon" id="shp-lat-lon" hidden>
    {% gizmo variable_select %}
    <br>
    <!--
    <button type="button" id="btn-get-plot" name="btn-get-plot" class="btn btn-default">Show Timeseries</button>
    -->
</form>
<br>
<br>
{% endblock %}

{% block app_content %}
<style>
    #map{
        width:100%;
        height: 400px;
    }
</style>
<div id="layers" name="layers" data-slider-max="{{slider_max}}" data-var-info='{{var_metadata}}' data-color-bar="{{cbar}}" style="display:none;"></div>
<div id="map" class="map"></div>
<div class="popup" id="popup"></div>
<br>
<div>
    <div class="chart-wrapper">
        <div class="chart-inner">
            <div id="plotter" name="plotter" style="height:275px;width:100%" ></div>
        </div>
    </div>
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
<form id="modalUpload" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Shapefile</h4>
            </div>
            <div class="modal-body">
                <div class="form-group shp_upload">
                    <label class="control-label" for="shp-upload-input">Multiple Files are allowed</label>
                    <input id="shp-upload-input" name="shp-upload-input" type="file" multiple>
                    <label class="crop-name" for="crop-name-input">Input Crop Name</label>
                    <input id="crop-name-input" name="crop-name-input" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-shp" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
        <!--End modal content-->
    </div>
</form>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'lis_crop_observer/js/lis_crop_observer.js' %}" type="text/javascript"></script>
{% endblock %}
